@page
@model IndexModel

@{
    ViewData["Title"] = "Index";
}

<h3>Transactions</h3>
<p>
    <a asp-page="Create" class="btn btn-primary">New Transaction</a>
</p>
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                                <tr class="row100 head">
                                    <th  class="cell100 column1">
                                        @Html.DisplayNameFor(model => model.Transaction[0].TransactionName)
                                    </th>
                                    <th  class="cell100 column2">
                                        @Html.DisplayNameFor(model => model.Transaction[0].Description)
                                    </th>
                                
                                  
                                    <th  class="cell100 column4">
                                        @Html.DisplayNameFor(model => model.Transaction[0].TransactionDate)

                                    </th>
                                    <th class="cell100 column5">

                                    </th>
                                </tr>
                               
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>

                             
                                @foreach (var item in Model.Transaction)
                                {
                                <tr class="row100 body">
                                    <td class="cell100 column1">
                                        @Html.DisplayFor(modelItem => item.TransactionName)
                                    </td>
                                    <td class="cell100 column2">
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                 
                                  
                                        <td class="cell100 column5">
                                        @Html.DisplayFor(modelItem => item.TransactionDate)
                                    </td>
                                    <td class="cell100 column5">
                                        <a asp-page="./Edit" asp-route-id="@item.TransactionID">Edit</a> |
                                        <a asp-page="./Details" style="color:green" asp-route-id="@item.TransactionID">Details</a> |
                                        <a asp-page="./Delete" style="color:red" asp-route-id="@item.TransactionID">Delete</a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                            
                        </table>
                    </div>
                </div>



   